/* Fontes */

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

/* Estilos globais */

* {
  box-sizing: border-box;
  font-family: "Orbitron", "Arial", sans-serif;
  /* outline: 1px solid red; */
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0b020c;
}

#dicas {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50rem;
  position: relative;
  padding-right: 0.5rem;
  padding-bottom: -0.5rem;
}

.console {
  display: block;
  width: 90%;
  max-width: 28rem;
  height: 45rem;
  border-radius: 36px;
  background-color: #1e1e1e;
  margin: 2rem auto;
  margin-top: 3rem;
  position: relative;
  margin-bottom: 8rem;
  overflow-y: auto;
  overflow-y: auto;
}

.botoes-do-mac {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 15px;
  padding: 1rem;
}

.vermelho,
.verde,
.amarelo {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.vermelho {
  background-color: #ff605c;
}

.amarelo {
  background-color: #ffbd44;
}

.verde {
  background-color: #00ca4e;
}

#titulo-materiais {
  font-size: 2rem;
  color: white;
  position: relative;
  width: 80%;
  height: auto;
  margin: 1.5rem;
  word-wrap: break-word;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

#label-nome, #label-email {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: block;
  margin-left: 1.5rem;
}

#input-nome, #input-email {
  width: 90%;
  max-width: 400px;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  background-color: #2c2c2c;
  color: white;
  font-size: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

#botao-enviar {
  width: 90%;
  max-width: 400px;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  background-color: #00ca4e;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 3rem;
}
#botao-enviar:hover {
  background-color: #00b44e;
}

#botao-enviar:active {
  background-color: #009a4e;
}

#botao-menu {
  width: 90%;
  max-width: 400px;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  text-align: center;
  background-color: #808080;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

#botao-menu:hover {
  background-color: #707070;
}

@media (min-width: 1200px) {
  .console {
    max-width: none;
    width: 50%;
  }

  .vermelho,
  .verde,
  .amarelo {
    width: 25px;
    height: 25px;
  }

  form {
    width: 50%;
    justify-self: center;
  }

  #titulo-materiais {
    justify-self: center;
    width: 50%;
    font-size: 3.2rem;
    text-align: center;
  }

  #input-nome, #input-email, #botao-menu, #botao-enviar {
    max-width: none;
    font-size: 1.5rem;
  }

}