/* Fontes */

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

/* Estilos globais */

* {
  box-sizing: border-box;
  font-family: "Orbitron", "Arial", sans-serif;
  /* outline: 1px solid red; */
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0b020c;
}

/* Estilos homepage mobile */

#homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50rem;
  position: relative;
}

.console {
  display: block;
  width: 90%;
  max-width: 25rem;
  height: 18rem;
  border-radius: 36px;
  background-color: #1e1e1e;
  margin: 2rem auto;
  margin-top: 3rem;
  position: relative;
  z-index: 1;
  margin-bottom: 8rem;
}

.botoes-do-mac {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 15px;
  padding: 1rem;
}

.vermelho,
.verde,
.amarelo {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.vermelho {
  background-color: #ff605c;
}

.amarelo {
  background-color: #ffbd44;
}

.verde {
  background-color: #00ca4e;
}

#titulo-principal {
  font-size: 2rem;
  color: white;
  position: relative;
  width: 80%;
  height: auto;
  margin: 1.5rem;
  word-wrap: break-word;
}

#hacker {
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  max-width: 18rem;
  height: auto;
  z-index: 2;
}

.botoes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botao {
  margin-top: 2rem;
  width: 50%;
  height: 2.5rem;
  border-radius: 50px;
  background-color: #1e1e1e;
  border: none;
  color: white;
  font-size: 1.5rem;
}

/* Correção pente fino para telas menores que 427px */

@media (max-width: 427px) {
  .console {
    margin-bottom: 10rem;
  }

  #hacker {
    top: 24rem;
  }
}

/* Estilos homepage web */

@media (min-width: 768px) {
  #homepage {
    justify-content: flex-start;
    height: 35rem;
  }

  .console {
    max-width: 36rem;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    height: 20rem;
    position: relative;
  }

  #hacker {
    top: 22rem;
    left: 75%;
    max-width: 18rem;
  }

  .botao {
    width: 20%;
    height: 100%;
    cursor: pointer;
    font-size: 1.2rem;
  }

  .botoes {
    max-width: 36rem;
    height: auto;
    flex-direction: row;
    justify-content: start;
    gap: 2rem;
  }

  #titulo-principal {
    font-size: 2.8rem;
  }
}

/* Estilos dicas mobile */
